* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

/* Navigation bar */
nav {
  background-color: turquoise;
  padding: 1px 0px;
}

ul {
}

li {
  display: inline;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 7px;
}
li a {
  color: #333;
}
a {
  text-decoration: none;
}

#contact {
  background-color: #777;
  color: white;
}

#contact a {
  color: #fff;
}

main {
  border: 1px solid red;
  margin: 10px 0px;
  padding: 10px;
}

/* Footer */

footer {
  border-top: 1px solid #000;
}
