* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

/* Navigation bar */
nav {
  background-color: turquoise;
  padding: 1px 0px;
}

ul {
}

li {
  display: inline;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 7px;
}
li a {
  color: #333;
}
a {
  text-decoration: none;
}

#contact {
  background-color: #777;
  color: white;
}

#contact a {
  color: #fff;
}

/* Main */

main {
  margin: 10px 0px;
  padding: 10px;
  background-color: #333;
}

h3 {
  text-align: center;
  color: #ccc;
}
form {
  border: 1px solid black;
  padding: 50px;
  width: 700px;
  position: relative;
  margin: 0 auto;
  background-color: #ccc;
}

label {
  padding: 5px;
  margin-top: 10px;
}

/* Name block */

#lname,
#fname {
  margin: 5px;
  padding: 2px;
}

#first-name {
  width: 100px;
}

#lname {
  width: 200px;
}

/* Email */

#email {
  margin: 10px 0px 5px 0px;
  width: 300px;
}

/* Messsage textbox */

#message-label,
#message {
  display: block;
  resize: none; /* Preventsthe user from resizing the message textarea */
}

/* Buttons */

.buttons {
  text-align: center;
  padding: 10px 0px 0px;
  margin-top: 20px;
}

.buttons input {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  width: 100px;
}

#submit {
  background-color: rgb(23, 218, 209);
  color: #333;
}

#reset {
  background-color: #333;
  color: #fff;
}

/* Footer */

footer {
  border-top: 1px solid #000;
}
